* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 20px;
	background-color: #F44336;
}

#main {
	margin: 0 auto;
	width: 600px;
	height: 600px;
	border-top: 10px solid #374046;
	border-bottom: 5px solid white;
	border-left: 10px solid #374046;
	border-right: 5px solid white;
	background-color: white;
}

.column {
	display: inline-block;
}

.div {
	height: 10px;
	width: 10px;
	background-color: white;
}

#buttons {
	margin: 0 auto;
	width: 600px;
}

/* Color Buttons */
.color_button {
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 100%;
	margin-top: 10px;
}
#color_red {
	background-color: #F44336;
}
#color_orange {
	background-color: #FF9800;
}
#color_yellow {
	background-color: #FFEB3B;
}
#color_green {
	background-color: #4CAF50;
}
#color_blue {
	background-color: #2196F3;
}
#color_indigo {
	background-color: #3F51B5;
}
#color_violet {
	background-color: #9C27B0;
}
#color_random {
	background-image: url("./images/random_colors.png");
	background-position: center;
}
#color_white {
	background-color: white;
	float: right;
	margin-left: 5px;
}
#color_black {
	background-color: #374046;
	float: right;
	margin-left: 5px;
}

#delete_button {
	background-image: url("./images/delete.png");
	background-position: center;
	background-color: #374046;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
    background-size: 75%;
	margin-right: 60px;
	
}